<div class="logo">
	<img src="images/logo.png" />
</div>
<div class="otvorenaKategorija">
	<p class="txt"><%= currentCategory %></p>
</div>
<div class="kosarica">
	<a href="/cart">
		<img class="ikonaZaKosaricu" src="images/shopping-cart.png" />
	</a>
	<span class="cart-count"><%= cartCount %></span>
	<img class="ikonaZaSearch" src="images/searchicon.png" />
</div>
